/* Gradient link : https://www.css-gradient.com/?c1=f184dc&c2=9d5adc&gt=l&gd=dbl */

/* Generics: Variables */
:root {
  --clr-primary: #9356DC;
  --clr-secondary: #FF79DA;
  --clr-ternary: #99E2D0;
  --clr-quaternary: #EAEAEA;
  --clr-quinary: #CFCFCF;
  --clr-senary: #353535;
  --clr-septenary: #F6F6F6;
  --clr-octonary: #9C9C9C;
  --clr-nonary: #008766;
  --clr-decenary: #F5EDFF;
  --clr-undenary: #E6E6E6;
  --clr-black: #000;
  --clr-light-black: #101010;
  --clr-white: #FFF;
}

/* Generics Styles : window + body */
html,
body {
  height: 100%;
  min-height: 100%;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-list .card {}
.card-list .illustration {
  height: 175px;
  position: relative;
}
.card-list .illustration span {
  display: none;
}
.card-list .isNew .illustration span {
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.card-list .description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.card-list .description .text {
  flex: 0 0 calc(100% - 75px);

  padding: 16px 12px;
}
.card-list .description .favorite {
  flex: 1 0 75px;
  position: relative;
}

/* Generics Styles : favorite restaurant */
.favorite {}
.favorite [class*="fa-"] {
  display: none;
}
.favorite input {}

.favorite input:checked ~ .fa-solid,
.favorite:hover input:not(:checked) ~ .fa-solid,
.favorite input:not(:checked) ~ .fa-regular {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.favorite:hover input:not(:checked) ~ .fa-regular {
  display: none;
}

/* Generics Styles :  */
.main,
header,
form,
.howTo,
main,
footer {
  display: flex;
  flex-wrap: nowrap;
}
header,
.explore,
.howTo,
main {
  padding-right: 20px;
  padding-left: 20px;
}

/* Generics Styles : .main */
.main {
  flex-direction: column;
}

/* Generics Styles : header */
header {
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 22px 0 7px;
}

/* Generics Styles : form */
form {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}
form i {
  margin: 0 18px;
}
form input[type="search"] {
  width: 50%;
}

/* Generics Styles : .explore */
.explore {
  padding-top: 42px;
  padding-bottom: 42px;
}
.explore h2 {
  margin-bottom: 18px;
}
.explore p {
  margin-bottom: 32px;
}
.explore button {
  margin-bottom: 13px;
  padding: 18px 22px;
}

/* Generics Styles : .howTo */
.howTo {
  padding-top: 53px;
  padding-bottom: 46px;
  flex-direction: column;
  align-items: stretch;
  counter-reset: li;
}
.howTo h2 {
  margin-bottom: 27px;
}
.howTo li:not(:last-child) {
  margin-bottom: 20px;
}
.howTo li {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-bottom: 22px;
  height: 75px;
  gap: 30px;
  padding: 0 33px;
  position: relative;
}
.howTo li:before {
  position: absolute;
  counter-increment: li;
  content: counter(li);
  height: 24px;
  width: 24px;
  left: -5px;
}
.howTo i {
  /* flex: 1 1 75px; */
}
.howTo span {
  /* flex: 0 1 100%; */
}

/* Generics Styles : main */
main {
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
main h2 {
  margin-bottom: 24px;
}

/* Generics Styles : footer */
footer {
  flex-direction: column;
  padding: 25px;
}
footer h5 {
  margin-bottom: 20px;
}
footer li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer li:not(:last-child) {
  margin-bottom: 8px;
}
footer li i {
  flex: 0 0 25px;
  position: relative;
}
footer li i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}







/* Template : generics */
.tpl {
  font-family: 'Roboto', sans-serif;
  color: var(--clr-black)
}
.tpl h2 {
  font-size: 24px;
  font-weight: 700;
}
.tpl .title-special {
  font-family: 'Shrikhand', cursive;
  font-size: 19px;
}
.tpl .shadowed {
  box-shadow: 0 10px 10px var(--clr-undenary);
}
.tpl .favorite,
.tpl label,
.tpl button {
  cursor: pointer;
}
/* Template : card */
.tpl .card {
  border-radius: 19px;
  overflow: hidden;
}
.tpl .card-list .illustration {
  background-position: center;
  background-size: cover;
}
.tpl .card.isNew .illustration span {
  background-color: var(--clr-ternary);color: var(--clr-nonary);
  font-size: 14px;
  font-weight: 500;
}
.tpl .card a {
  font-size: 18px;
  font-weight: 700;
}
.tpl .card p {
  /* font-size: 18px; */
  font-weight: 300;
}
.tpl .card-list .favorite {}
/* Template : favorite restaurant */
.tpl .favorite {
  font-size: 20px;
}
.tpl .favorite:hover i:before,
.tpl .favorite input:checked ~ i:before {
  /* Created with https://www.css-gradient.com */
  background: #F184DC;
  background: -webkit-linear-gradient(bottom left, #F184DC, #9D5ADC);
  background: -moz-linear-gradient(bottom left, #F184DC, #9D5ADC);
  background: linear-gradient(to top right, #F184DC, #9D5ADC);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Template : .main */
.tpl .main {}

/* Template : header */
.tpl header svg {
  fill: var(--clr-light-black);
}

/* Template : form */
.tpl form {
  background-color: var(--clr-quaternary);
  box-shadow: inset 0 5px 5px var(--clr-quinary);
}
.tpl form input[type="search"] {
  font-weight: 500;
}

/* Template : .explore */
.tpl .explore {
  background-color: var(--clr-septenary);
  text-align: center;
}
.tpl .explore p {
  font-size: 17px;
  font-weight: 300;
}
.tpl .explore button {
  background-color: var(--clr-primary);
  border-radius: 28px;
  color: var(--clr-white);
  font-size: 17px;
  font-weight: 400;
  /* Created with https://www.css-gradient.com */
  background: #F184DC;
  background: -webkit-linear-gradient(top left, #F184DC, #9D5ADC);
  background: -moz-linear-gradient(top left, #F184DC, #9D5ADC);
  background: linear-gradient(to bottom right, #F184DC, #9D5ADC);
}

/* Template : .howTo */
.tpl .howTo {}
.tpl .howTo li {
  background-color: var(--clr-septenary);
  border-radius: 18px;
}
.tpl .howTo li:before {
  background-color: var(--clr-primary);
  border-radius: 50%;
  color: var(--clr-white);
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}
.tpl .howTo li.current {
  background-color: var(--clr-decenary);
}
.tpl .howTo i {
  color: var(--clr-octonary);
  font-size: 18px;
}
.tpl .howTo .current i {
  color: var(--clr-primary);
}
.tpl .howTo span {
  font-weight: 700;
}

/* Template : main */
.tpl main {
  background-color: var(--clr-septenary);
}

/* Template : footer */
.tpl footer {
  background-color: var(--clr-senary);
  color: var(--clr-white);
}
.tpl footer li {
  font-size: 16px;
}
.tpl footer i {
  font-size: 14px;
}

/* Template : restaurants */
.card.la-palette-du-gout .illustration {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg)
}
.card.la-note-enchantee .illustration {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg)
}
.card.a-la-francaise .illustration {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg)
}
.card.le-delice-des-sens .illustration {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg)
}