@charset 'utf-8';

// Colors :
$clr-01: #9356DC;
$clr-02: #FF79DA;
$clr-03: #99E2D0;
$clr-04: #EAEAEA;
$clr-05: #CFCFCF;
$clr-06: #353535;
$clr-07: #F6F6F6;
$clr-08: #9C9C9C;
$clr-09: #008766;
$clr-10: #F5EDFF;
$clr-11: #E6E6E6;

// Colors : basics
$clr-black: #000;
$clr-light-black: #101010;
$clr-white: #FFF;

// Pages : paddings
// $page-padding-top: 0;
$page-padding-right: 20px;
// $page-padding-bottom: 0;
$page-padding-left: 20px;

// Width
$wth-selected-menu: 60px;