@import url(h:\websites\formation\cour #3 - Dynamisez une page web avec des animations CSS\OC---Dynamisez-une-page-web-avec-des-animations-CSS\node_modules\the-new-css-reset\css\reset.css);
html,
body {
  height: 100%;
  min-height: 100%;
}

.fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fx-dir--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fx-dir--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fx-wrap--yes {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fx-wrap--no {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.fx-alignI--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fx-alignI--stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fx-justifyC--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fx-justifyC--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header {
  padding: 22px 20px 7px 20px;
  position: relative;
}

header a {
  position: absolute;
  top: 50%;
  left: 22px;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}

main {
  padding: 60px 20px 60px 20px;
}

main h2 {
  margin-bottom: 24px;
}

footer {
  padding: 25px;
}

footer h5 {
  margin-bottom: 20px;
}

footer li:not(:last-child) {
  margin-bottom: 8px;
}

footer li i {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  position: relative;
}

footer li i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-list {
  gap: 20px;
}

.card-list .illustration {
  height: 175px;
  position: relative;
}

.card-list .illustration span {
  display: none;
}

.card-list .isNew .illustration span {
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
}

.card-list .description .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 75px);
          flex: 0 0 calc(100% - 75px);
  padding: 16px 12px;
}

.card-list .description .favorite {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 75px;
          flex: 1 0 75px;
  position: relative;
}

.favorite {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 75px;
          flex: 1 0 75px;
  position: relative;
}

.favorite [class*="fa-"] {
  display: none;
}

.favorite input:checked ~ .fa-solid,
.favorite:hover input:not(:checked) ~ .fa-solid,
.favorite input:not(:checked) ~ .fa-regular {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.favorite:hover input:not(:checked) ~ .fa-regular {
  display: none;
}

form {
  height: 50px;
}

form i {
  margin: 0 18px;
}

form input[type="search"] {
  width: 50%;
}

.explore {
  padding: 39px 20px 44px 20px;
}

.explore h2 {
  margin-bottom: 12px;
}

.explore p {
  margin-bottom: 29px;
}

.explore button {
  margin-bottom: 13px;
  padding: 14px 23px 16px;
}

.howTo {
  padding: 53px 20px 46px 20px;
  counter-reset: li;
}

.howTo h2 {
  margin-bottom: 27px;
}

.howTo li:not(:last-child) {
  margin-bottom: 20px;
}

.howTo li {
  padding-bottom: 22px;
  height: 75px;
  gap: 30px;
  padding: 0 33px;
  position: relative;
}

.howTo li:before {
  position: absolute;
  counter-increment: li;
  content: counter(li);
  height: 24px;
  width: 24px;
  left: -5px;
}

.howTo i {
  /* flex: 1 1 75px; */
}

.howTo span {
  /* flex: 0 1 100%; */
}

.main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu main {
  position: relative;
}

.menu .illustration {
  height: 255px;
  position: absolute;
  top: 0;
  left: 0;
}

div {
  color: red;
}
/*# sourceMappingURL=main.css.map */