@charset 'utf-8';

footer {
  padding: 25px;

  h5 {
    margin-bottom: 20px;
  }
  ul li {
    @include flex($dir: row, $wrap: nowrap);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
    i {
      @include centering-vh--before;

      flex: 0 0 25px;

      position: relative;
      margin-right: 5px;
    }
  }
}

@media (min-width: 768px) AND (max-width: 991px) {
  footer h5,
  footer ul {
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  footer h5,
  footer ul {
    padding: 0 30px;
  }
}