@charset 'utf-8';

footer {
  padding: 25px;
}
footer h5 {
  margin-bottom: 20px;
}
footer li {}
footer li:not(:last-child) {
  margin-bottom: 8px;
}
footer li i {
  flex: 0 0 25px;
  position: relative;
  margin-right: 5px;
}
footer li i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}