@charset 'utf-8';

footer {
  flex-direction: column;
  padding: 25px;
}
footer h5 {
  margin-bottom: 20px;
}
footer li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer li:not(:last-child) {
  margin-bottom: 8px;
}
footer li i {
  flex: 0 0 25px;
  position: relative;
}
footer li i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}