@charset 'utf-8';

header {
  position: relative;

  @include flex($alignI: stretch, $justC: center);

  h1 {
    padding: 22px $page-padding-right 7px $page-padding-left;
  }

  form {
    @include flex($dir: row, $justC: center);

    i {
      @include centering-vh--before;
    }
  }
}

.menu {
  header {
    @include flex($dir: row, $justC: space-between);

    a {
      flex-basis: 62px;
      @include centering-vh--before;
    }

    h1 {
      flex-basis: calc(100% - 62px);
    }
  }
}

@media (min-width: 768px) {
  header {
    @include flex($dir: row);

    h1 {
      flex: 1 0 auto;
      align-items: stretch;
    }
    form {
      flex: 1 0 auto;

      height: auto;
    }
  }
}