@charset 'utf-8';

@media (min-width: 768px) AND (max-width: 991px) {
  header,
  footer ul,
  main,
  .explore,
  .howTo {
    width: 768px;
    margin: 0 auto;
  }

  footer h5 {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  header,
  footer ul,
  main,
  .explore,
  .howTo {
    max-width: 1200px;
    width: 100%;
    min-width: 992px;
    margin: 0 auto;
  }

  footer h5 {
    max-width: 1200px;
    width: 100%;
    min-width: 992px;
    margin-right: auto;
    margin-left: auto;
  }
}