@charset 'utf-8';

.card-list {
  gap: 20px;

  .card {
    flex: 1 0 100%;
    @include flex($dir: column, $wrap: nowrap, $justC: space-between);

    &.isNew .illustration span {
      display: inline-block;
      padding: 5px 10px;

      @include posAbs($top: 15px, $right: 10px);
    }
    > span,
    > div {
      @include flex($dir: row, $wrap: nowrap, $justC: space-between);
    }
  }
  .illustration {
    height: 175px;
    position: relative;

    span {
      display: none;
    }
  }
  .description {
    @include flex($dir: row, $wrap: nowrap);
    div {
      flex: 0 0 calc(100% - 75px);

      padding: 16px 12px;
    }
    label {
      flex: 1 0 75px;
      position: relative;
    }
  }
}

@media (min-width: 768px) AND (max-width: 991px) {
  main.restaurant-list .card-list {
    @include flex($dir: row, $justC: space-between, $wrap: wrap, $gap: 30px);

    .card {
      flex: 1 0 calc(100% / 2 - 30px);
    }
  }

  .menu main .card-list {
    @include flex($dir: row, $justC: space-between, $gap: 30px, $wrap: wrap);

    & > div {
      flex: 1 0;

      &:not(:last-of-type) {
        width: calc(100% / 3 - 2 * 30px);
      }

      &:last-of-type {
        flex: 2 0 100%;
      }
    }
  }
}

@media (min-width: 992px) {
  main.restaurant-list .card-list {
    @include flex($dir: row, $justC: space-between, $gap: 30px);

    .card {
      flex: 1 0 calc(100% / 4 - 3 * 30px);
      justify-content: start;
    }
  }
}