@charset 'utf-8';

.card-list {
  gap: 20px;
}
.card-list .card {}
.card-list .illustration {
  height: 175px;
  position: relative;
}
.card-list .illustration span {
  display: none;
}
.card-list .isNew .illustration span {
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.card-list .description {}
.card-list .description .text {
  flex: 0 0 calc(100% - 75px);

  padding: 16px 12px;
}
.card-list .description .favorite {
  flex: 1 0 75px;
  position: relative;
}