@charset 'utf-8';

.menu main {
  @include flex($dir: column);
  flex: 1 0;

  position: relative;

  .illustration {
    @include posAbs($top: 0, $right: 0, $bottom: 0, $left: 0);

    height: 255px;
    z-index: 0;
  }
  .title {
    @include flex($dir: row, $wrap: nowrap, $alignI: flex-start);

    margin-top: 185px;
    position: relative;

    z-index: 1;
    .title-special {
      flex: 1 0 auto;

      margin-top: 20px;
    }
    .favorite {
      flex-basis: 56px;

      margin-top: 20px;
    }
  }
  & > section {
    margin-top: 28px;

    h3 {
      position: relative;

      &:before {
        position: absolute;
      }
    }

    .card-list {
      @include flex($dir: column, $gap: 30px);

      padding-bottom: 90px;
      position: relative;

      .card {
        @include flex($dir: row, $wrap: nowrap);

        margin-top: 15px;
        position: relative;

        input:checked {
          ~ span {
            width: calc(100% - $wth-selected-menu);
          }
          & ~ i {
            width: $wth-selected-menu;
          }
        }
        .menu-description {
          flex: 1;
          margin: 12px 11px 7px;
        }
        small {
          display: inline-block;
          margin-top: 3px;
        }
        & > div,
        & > span {
          width: 100%;

          div,
          .menu-price {
            margin: 15px 15px 15px 0;
          }
        }
        i {
          position: relative;

          &:before {
            @include posAbs($top: calc(50% - .5em), $left: calc($wth-selected-menu / 2 - .5em));
          }
        }
      }
    }
    button {
      padding: 15px 50px;

      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

@media (min-width: 768px) AND (max-width: 991px) {
  .menu main > section .card-list {
    @include flex($dir: row, $gap: 30px);
  }
}

@media (min-width: 992px) {
  .menu main > section .card-list {
    @include flex($dir: row, $justC: space-between, $gap: 30px);

    & > div {
      flex: 1 0;
      width: calc(100% / 3 - 2 * 30px);
    }
  }
}