@charset 'utf-8';

.explore {
  padding: 39px $page-padding-right 44px $page-padding-left;
}
.explore h2 {
  margin-bottom: 12px;
}
.explore p {
  margin-bottom: 29px;
}
.explore button {
  margin-bottom: 13px;
  padding: 14px 23px 16px;
}