@charset 'utf-8';

.howTo {
  @include flex;
  padding: 53px $page-padding-right 46px $page-padding-left;
  counter-reset: li;

  h2 {
    margin-bottom: 27px;
  }
  ol {
    padding-left: 10px;

    li {
      @include flex($dir: row, $wrap: nowrap);
      align-items: center;
      gap: 30px;

      height: 75px;
      padding: 0 33px;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:before {
        position: absolute;
        left: -10px;
        height: 24px;
        width: 24px;

        counter-increment: li;
        content: counter(li);
      }
    }
  }
}

@media (min-width: 992px) {
  .howTo {
    ol {
      @include flex($dir: row);
      justify-content: space-between;
      gap: 30px;

      li {
        flex: 1 0 calc(100% / 3 - 2 * 30px);
      }
    }
  }
}