@charset 'utf-8';

.howTo {
  padding: 53px $page-padding-right 46px $page-padding-left;
  counter-reset: li;
}
.howTo h2 {
  margin-bottom: 27px;
}
.howTo ol {
  padding-left: 10px;
}
.howTo li:not(:last-child) {
  margin-bottom: 20px;
}
.howTo li {
  padding-bottom: 22px;
  height: 75px;
  gap: 30px;
  padding: 0 33px;
  position: relative;
}
.howTo li:before {
  position: absolute;
  counter-increment: li;
  content: counter(li);
  height: 24px;
  width: 24px;
  left: -10px;
}
.howTo i {
  /* flex: 1 1 75px; */
}
.howTo span {
  /* flex: 0 1 100%; */
}